# Shared
LLM_PROVIDER=openai
MAX_TOKENS=4096
MAX_AGENT_ITERATIONS=25

# OpenAI
OPENAI_API_KEY=
OPENAI_MODEL=gpt-4o

# Azure OpenAI
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_DEPLOYMENT=
AZURE_OPENAI_API_VERSION=2024-02-01

# HuggingFace
HF_TOKEN=
HF_MODEL=
HF_BASE_URL=https://api-inference.huggingface.co/v1
